body {
    background: linear-gradient(to bottom, #010405, #032033, #043044);
    /* Fallback for browsers that don't support gradients */
    background-color: #021722;
}


.landing_page{
    display: flex;
    flex-direction: row;
    gap: 20vw;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10vw;
    margin-top: 7vw;
}
.titles-buttons h1{
    font-size: 4vw;
    
}
.titles-buttons{
    margin-top: -5vw;
}
.titles-buttons h4{
    margin-top: 0.5vw;
    opacity: 0.3;
    font-size: 2vw;
}

.titles-buttons button{
    background-color: #CA5747;
    color: white;
    border: none;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    padding: 1vw;
    margin-top: 2vw;
    border-radius: 0.5vw;
    margin-top: 1vw;
}

#bulls-eye{
    font-size: 4vw;
    color: #CA5747;
}
/* //Booking */
.book-headings{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10vw;
    margin-top: 7vw;
}
.book-headings h1{
    font-size: 4vw;
}
.book-headings h4{
    font-size: 1.5vw;
    opacity: 0.3;
}
.book-headings hr{
    border: 2px solid white;
}

.book-cards{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10vw;
    margin-top: 7vw;  
}